:root {
  /* color */
  --color--white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-violet: #CC6BE1;
  --color-violet-dark: #AA5EF0;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-orange: #feb546;
  --color-yellow: #FFF5CB;
  --color-black: #000000;


  /* Font size */
  --font-large: 40px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;


  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --amination-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color--white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

.section {
  opacity: 0;
  transition: all 2.5s ease-out;
}

.show {
  opacity: 1;
  transform: none;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color--white);
  padding: 16px;
  transition: all var(--amination-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-violet);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo img {
  padding-right: 5px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border-color: var(--color--white);
  background-color: var(--color-violet-dark);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color--white);
  display: none;
}

/* Home */
#home {
  background: url(imgs/home/home-background.png) center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color--white);
}

.home__title,
.home__description {
  color: var(--color--white);
}

.home__contact {
  color: var(--color--white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color--white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-orange);
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: var(--amination-duration);
}

.major__icon:hover i {
  color: var(--color-violet);
  transform: rotate(-30deg) scale(1.1);
}

.about__jobs {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  width: 100%;
  margin-top: 50px;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-content: center center;
  place-items: center center;
}

.about__jobs div:nth-of-type(5) {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}



.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
  position: relative;
  padding: 0 70px 0 70px;
}

.job__description span {
  position: absolute;
  top: 25%;
  right: 5%;
  background-color: var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  padding: 5px;
  font-size: var(--font-micro);
  color: var(--color--white);
  font-weight: var(--weight-bold);
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color--white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color--white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 16px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}


.skill__value.html.bar {
  width: 85%;
  transition-timing-function: linear;
}

.skill__value.css.bar {
  width: 80%;
  transition-timing-function: linear;
}

.skill__value.js.bar {
  width: 70%;
  transition-timing-function: linear;
}

.skill__value.react.bar {
  width: 60%;
  transition-timing-function: linear;
}

.skill__value.java.bar {
  width: 55%;
  transition-timing-function: linear;
}

.skill__value.spring.bar {
  width: 45%;
  transition-timing-function: linear;
}

.skill__value {
  width: 1%;
  height: 3px;
  background-color: var(--color-orange);

  transition-duration: 3s;
  transition-delay: 1s;
  transition-property: width;
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 10px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 3px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 40px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-violet);
  color: var(--color--white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color--white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 10px;
  opacity: 0;
  transition: all var(--amination-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--amination-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--amination-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Contact */
#contact {
  background-color: var(--color-violet);
}

.contact__title,
.contact__email {
  color: var(--color--white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  margin: 24px 0;
  padding: 10px;
}

.contact__links span {
  background-color: transparent;
  border: 1px solid var(--color--white);
  padding: 10px;
  border-radius: var(--size-border-radius);
}

.contact__links span:hover {
  transform: scale(1.1);
  background-color: var(--color-violet-dark);
}

/* Arrow */
.arrow-up {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color--white);
  background-color: var(--color-violet);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* 768px screen width */
:root {
  /* Font-size */
  --font-large: 30px;
  --font-medium: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;
}
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-violet);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 50px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 6px;
  }

  .about__jobs {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px; 
    line-height: 50px;  
    right: 10px;
    bottom: 16px;
  }
}